/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
  border: none;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #868de8;
  border: none;
}

body::-webkit-scrollbar-track {
  background: #9da4ff;
  border: none;
}

.container {
  padding: 0 25px;
  max-width: 1340px;
  margin: 0 auto;
}

.animated {
  opacity: 0;
  transition: 0.8s ease all;
}

/*************** top-section ***************/

.top-section {
  overflow: hidden;
  height: 100vh;
  background: url(../img/top-section__line.png) no-repeat bottom 40px right -140px,
    url(../img/top-section__bg.jpg) no-repeat center center/cover;
}

.header {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu li {
  margin-right: 24px;
}

.header__menu li a {
  color: #2d2d2d;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}

.header__button {
  width: 300px;
  height: 70px;
  border-radius: 20px;
  background: url(../img/header__button.png) no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.top-section__wrapper {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-section__left {
  width: 55%;
}

.top-section__left h1,
h2 animated {
  translate: (0, 120%);
}

.top-section__left h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 1;
  color: #2d2d2d;
  margin: 0 0 43px 0;
}

.top-section__left h2 {
  margin: 33px 0;
  font-size: 40px;
  font-weight: 600;
  color: #2d2d2d;
  line-height: 1;
}

.top-section__left-button {
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #2d2d2d;
  text-transform: uppercase;
  background: #fff;
  border-radius: 20px;
}

.top-section__right {
  box-shadow: -83px 60px 92px rgb(27 20 168 / 10%);
  border-radius: 30px;
  border: 2px solid #fff;
}

.top-section__right img {
  width: 376px;
  height: 500px;
}

/*********************** about ***********************/

.about {
  padding: 100px 0 60px 0;
  background: linear-gradient(-225deg, #ecf1ff 0%, #ffffff 100%);
  overflow: hidden;
}

.title {
  font-size: 40px;
  font-weight: 600;
  color: #2d2d2d;
}

.about__title {
  margin: 0 0 60px 0;
}

.about__info {
  display: flex;
  align-items: center;
  margin: 25px -60px 200px -60px;
}

.about__info__photo {
  margin-right: 75px;
}

.about__info__photo .main {
  background: #f8faff;
  width: 450px;
  height: 580px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 30px;
  box-shadow: 0 102px 92px rgb(27 20 168 / 7%);
}

.about__info__photo .main img {
  width: 100%;
  border-radius: 30px;
}

.about__info__right .top {
  margin-left: -25px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #676aff;
}

.about__info__right .top span {
  margin-top: -35px;
}

.about__info__right .text {
  width: 100%;
  line-height: 1.2em;
  color: #2d2d2d;
  font-size: 24px;
  font-weight: 500;
}

.about__advantage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__advantage .item {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 290px;
  height: 310px;
  padding: 0 20px;
  margin-bottom: 100px;
  border-radius: 30px;
  box-shadow: 0 38px 84px rgb(27 20 168 / 5%);
  border: 2px solid #fff;
  background: rgba(249, 251, 255, 0.5);
  backdrop-filter: blur(20px);
}

.about__advantage .item .icon {
  width: 50px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.about__advantage .item .icon img {
  width: 100%;
}

.about__advantage .item .title {
  margin-bottom: 10px;
  color: #2d2d2d;
  font-size: 24px;
  font-weight: 700;
}

.about__advantage .item .text {
  color: #2d2d2d;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  min-height: 55px;
}

/*********************** reviews ***********************/

.reviews {
  background: url(../img/reviews__bg.jpg) no-repeat center center/cover;
  overflow: hidden;
  padding: 40px 0 50px 0;
}

.reviews__wrapper {
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 50px 10px;
  }
}

/* Основные стили */

/* Слайдер */
.slick-slider {
  min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0px 60px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 0;

  background: url("../img/sl-arrow_l.svg") 0 0 / 100% no-repeat;
  color: #292929;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/sl-arrow_r.svg") 0 0 / 100% no-repeat;
  color: #292929;
}
.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #676aff;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #676aff;
}

.slider__item {
  box-shadow: 0 38px 84px rgb(27 20 168 / 5%);
  background: rgba(255, 255, 255, 0.05);
  padding: 0px 15px;
  display: flex;
}

.item__main {
  margin-left: 20px;
}

.item__main h4 {
  margin-bottom: 30px;
  color: #2d2d2d;
  font-size: 24px;
  font-weight: 700;
}

.item__main p {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 500;
}

.slider__item img {
  max-width: 100%;
  border-radius: 30px;
}

/*********************** form ***********************/

.form {
  background: url(../img/form__bg.jpg);
  padding: 80px 0;
  overflow: hidden;
}

.form__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form form {
  border-radius: 20px;
  border: 2px solid #fff;
  box-shadow: 0 38px 84px rgb(27 20 168 / 5%);
  padding: 36px 64px 64px 50px;
  background: linear-gradient(
    -45deg,
    rgba(191, 178, 255, 0.5) 0%,
    rgba(235, 240, 255, 0.5) 100%
  );
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form form label {
  width: 430px;
  margin-bottom: 35px;
}

.form form label span {
  display: block;
  margin: 0 0 20px 25px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
}

.form form label input {
  width: 100%;
  height: 70px;
  font-size: 20px;
  color: #9193ff;
  padding-left: 25px;
  box-shadow: 0 38px 84px rgb(27 20 168 / 5%);
  border-radius: 30px;
  border: 2px solid #fff;
  background: rgba(242, 245, 255, 0.5);
  -webkit-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  outline: #fff;
  transition: 0.5s all;
}

.form form label input:hover {
  border: 2px solid #9193ff;
  transition: 0.5s all;
}

.form form button {
  border-radius: 20px;
  background: #9193ff;
  border: 3px solid #9193ff;
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: 0.5s all;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.form form button:hover {
  transition: 0.5s all;
  background: transparent;
  color: #9193ff;
}

/** placeholder **/
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
}
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
} /* Firefox 19+ */
:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}
/*  */

/*********************** footer ***********************/

.footer {
  background: #292929;
  padding: 100px 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__column {
  width: 25%;
}

.footer__column:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column:nth-child(1) h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 50px 0;
}

.footer__column:nth-child(1) h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.footer__button {
  width: 300px;
  height: 70px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #9193ff;
  color: #9193ff;
  transition: 0.3s all;
}

.footer__button:hover {
  transition: 0.3s all;
  background: #9193ff;
  color: #fff;
}

.footer__column:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.footer__column:nth-child(2) a {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 50px;
  transition: 0.3s all;
}

.footer__column:nth-child(2) a:hover {
  transition: 0.3s all;
  color: #9193ff;
}

.footer__column:nth-child(2) a:nth-last-child(1) {
  margin-bottom: 0;
}

.footer__column:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.footer__column:nth-child(3) a {
  display: flex;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 50px;
  transition: 0.3s all;
  align-items: center;
  justify-content: space-between;
}

.footer__column:nth-child(3) a:hover {
  transition: 0.3s all;
  color: #9193ff;
}

.footer__column:nth-child(3) a:nth-last-child(1) {
  margin-bottom: 0;
}

.footer__column:nth-child(3) a svg {
  margin: 0 0 0 20px;
}

.footer__column:nth-child(3) a svg path {
  fill: #fff;
  transition: 0.3s all;
}

.footer__column:nth-child(3) a:hover svg path {
  fill: #9193ff;
  transition: 0.3s all;
}

/**** popup ****/

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(36, 36, 71, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__content {
  position: relative;
  width: 900px;
  height: 700px;
  background: linear-gradient(135deg, #e0edff 0%, #e8eefe 50%, #cecbff 100%);
  border-radius: 30px;
  box-shadow: 0 102px 92px rgb(27 20 168 / 21%);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0px, -100%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.popup form {
  position: relative;
  z-index: 12;
  width: 540px;
  height: 600px;
  box-shadow: 0 38px 84px rgb(27 20 168 / 5%);
  border-radius: 30px;
  border: 2px solid #fff;
  -webkit-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px 0 40px;
}

.popup form label {
  width: 100%;
  margin-bottom: 35px;
}

.popup form label span {
  display: block;
  margin-left: 25px;
  margin-bottom: 10px; /*10*/
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
}

.popup form label input {
  width: 100%;
  height: 70px;
  font-size: 20px;
  color: #9193ff;
  padding-left: 25px;
  box-shadow: 0 38px 84px rgb(27 20 168 / 5%);
  border-radius: 30px;
  border: 2px solid #fff;
  background: rgba(242, 245, 255, 0.5);
  -webkit-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  outline: #fff;
  transition: 0.5s all;
}

.popup form label input:hover {
  border: 2px solid #9193ff;
  transition: 0.5s all;
}

.popup form button {
  border-radius: 20px;
  background: #9193ff;
  border: 3px solid #9193ff;
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: 0.5s all;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.popup form button:hover {
  transition: 0.5s all;
  background: transparent;
  color: #9193ff;
}

.popup .particle {
  position: absolute;
  z-index: 11;
}

.popup .particle__top_left {
  top: 30px;
  left: 50px;
}

.popup .particle__top_right {
  right: 30px;
  top: -80px;
}

.popup .particle__bottom {
  bottom: 30px;
  right: 200px;
}

/************************ arrow ***********************/

.back-to-top {
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s linear;
}

.back-to-top.active {
  opacity: 1;
}

/*********************** Адаптация ***********************/

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1200px;
  }
  .about__advantage .item {
    width: 250px;
    height: 250px;
    margin-bottom: 75px;
  }
}

/*992px-1200px*/
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .about__advantage {
    max-width: 80%;
    margin: 0 auto;
  }
  .footer__column {
    width: auto;
  }

  .footer__column {
    width: 28%;
  }

  .footer__button {
    font-size: 20px;
    width: 100%;
    height: 60px;
  }
}

/*768px-992px*/
@media screen and (max-width: 992px) {
  .container {
    max-width: 800px;
  }

  .header__menu li a {
    font-size: 16px;
  }

  .header__button {
    font-size: 18px;
    width: 240px;
    height: 56px;
  }

  .about {
    padding: 60px 0;
  }

  .about__info {
    flex-direction: column;
  }

  .about__info__photo {
    margin: 0;
  }
  .about__info__right .top {
    justify-content: center;
    margin-left: 0;
    margin-top: 20px;
  }

  .title {
    font-size: 32px;
  }

  .about__title {
    text-align: center;
    margin: 0 0 30px 0;
  }

  .about__info__photo .main {
    width: 350px;
    height: 450px;
  }

  .about__info__right .top img {
    width: 60px;
  }

  .about__info__right .top span {
    margin-top: -25px;
  }

  .about__info__right .text {
    padding: 0 20px;
    line-height: 1.1em;
    font-size: 16px;
  }

  .slider {
    padding: 0;
  }

  .slider .slick-arrow.slick-prev {
    left: -60px;
  }

  .slider .slick-arrow.slick-next {
    right: -60px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer .container {
    max-width: 800px;
  }

  .footer__column {
    width: 31%;
  }

  .footer__column:nth-child(1) h2 {
    font-size: 24px;
  }

  .footer__column:nth-child(1) h3 {
    font-size: 18px;
  }

  .footer__column:nth-child(2) a {
    font-size: 18px;
  }

  .footer__column:nth-child(3) a {
    font-size: 18px;
  }

  .footer__button {
    font-size: 18px;
    width: 100%;
    height: 50px;
  }

  .top-section__left h1 {
    font-size: 36px;
  }

  .top-section__left h2 {
    font-size: 18px;
  }

  .top-section__right img {
    max-width: 350px;
    max-height: 450px;
  }

  .popup__content {
    height: auto;
    width: 90%;
  }
}

/*576px-768px*/
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .top-section .container {
    height: 100%;
  }

  .top-section__wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 70%;
    align-items: center;
  }

  .top-section__left-button {
    width: 100%;
    height: 60px;
  }

  .top-section__left h1 {
    /* font-size: 29px; */
  }

  .reviews__title {
    text-align: center;
  }

  .top-section__right {
    display: none;
  }

  .about__advantage {
    max-width: 100%;
  }
  .about__advantage .item .title {
    font-size: 18px;
  }

  .about__advantage .item .text {
    font-size: 16px;
  }

  .about__advantage .item {
    width: 180px;
    height: 180px;
  }

  .slider {
    padding: 0px 40px;
  }

  .slider__item {
    flex-direction: column;
  }

  .slider__item img {
    margin-bottom: 15px;
    height: auto;
  }

  .footer__wrapper {
    align-items: center;
    flex-direction: column;
  }

  .footer__column {
    text-align: center;
    width: 100%;
  }

  .footer__column:nth-child(2) {
    margin: 50px 0;
  }

  .footer__column:nth-child(3) {
    align-items: center;
  }

  .footer__button {
    margin-top: 60px;
    width: 100%;
    height: 60px;
  }

  .form form {
    display: block;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    padding: 20px;
  }

  .form form label input {
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .form form button {
    width: 100%;
    height: 50px;
    font-size: 18px;
  }
}
/*320px-576px*/
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }

  .about__info__photo .main {
    justify-content: center;
    width: 300px;
  }

  .header__button {
    display: none;
  }

  .header__menu li a {
    font-size: 13px;
  }

  .about__info__photo .main {
    height: 300px;
    padding: 0;
  }

  .about__info__photo .main img {
    max-width: 80%;
  }

  .about__advantage {
    justify-content: center;
  }

  .top-section__left-button {
    align-items: center;
    margin: 0 auto;
    width: 240px;
    height: 56px;
    font-size: 18px;
  }

  .top-section__left {
    width: 100%;
  }

  .top-section__wrapper {
    text-align: center;
  }

  .reviews__title {
    margin: 0 0 20px 0;
  }

  .reviews__wrapper {
    padding: 0;
  }

  .slider {
    padding: 0;
    margin: 0 10px;
    overflow: hidden;
  }
}

@media screen and (max-height: 920px) {
  .top-section__right_image img {
    max-height: 600px;
  }
}
